<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2>About file</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odio eius, quidem distinctio neque quaerat soluta in aperiam, veniam esse, quis facilis earum quasi blanditiis quam. Exercitationem, ipsam adipisci? Unde.</p>
</body>
</html>